@import '../variables';
@import '../mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~@scss/sections/s-latest-blog';

.page-header {
    background-color: #f38181;
}

.s-lbl {
    @include min-w($screen-xl) {
        padding: 130px 0 116px;
    }

    .post {
        &__item {
            @include min-w($screen-md) {
                margin-bottom: 30px;
            }
        }
    }
}
