@import '../fonts';
@import '../variables';
@import '../functions';
@import '../mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/card';
@import '~@scss/sections/s-hero';
@import '~@scss/sections/s-latest-blog';
@import '~@scss/sections/s-what-we-do';
@import '~@scss/sections/s-our-team';

.page-header {
    @include min-w($screen-lg) {
        background: transparent;
    }

    &.is-sticky {
        background-color: #f38181;
    }
}

.s-wd,
.s-ot {
    padding-top: 0;
}
