.s-ot {
    padding: 60px 0;

    @include min-w($screen-xl) {
        padding: 112px 0 116px;
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subheading {
        font-family: $fontFamilyK;
        font-size: 22px;
        font-weight: normal;
        line-height: 1;
        color: #333333;
        margin-bottom: 15px;

        @include min-w($screen-md) {
            font-size: 24px;
            margin-bottom: 18px;
        }
    }

    &__title {
        font-family: $fontFamilyM;
        font-size: 30px;
        font-weight: bold;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
        color: #333333;
        margin-bottom: 15px;

        @include min-w($screen-md) {
            margin-bottom: 30px;
        }

        @include min-w($screen-xl) {
            margin-bottom: 38px;
        }
    }

    &__title-decor {
        width: 60px;
        height: 3px;
        background-color: #f38181;
        margin-bottom: 30px;

        @include min-w($screen-lg) {
            margin-bottom: 40px;
        }
    }

    &__text {
        font-size: 15px;
        font-weight: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: #999;
        margin-bottom: 30px;

        @include min-w($screen-lg) {
            margin-bottom: 89px;
        }
    }
}
