.page-header {
    z-index: $page-header-z;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f38181;
    padding: 18px 0;
    transition: all .5s ease 0s;
    min-height: 60px;

    @include min-w($screen-lg) {
        padding: 30px 0 28px;
    }

    .navbar {
        padding: 0;
        justify-content: space-between;
    }

    .navbar-brand {
        padding: 0;
        color: #ffffff;
        font-size: 30px;
        font-weight: bold;
        line-height: 1;

        @include min-w($screen-lg) {
            transform: translateY(-8px);
        }
    }

    .navbar-toggler {
        margin-left: auto;
    }

    .navbar-collapse {
        flex-grow: 0;

        @include min-w($screen-lg) {
            transform: translateX(22px);
        }
    }

    &.is-sticky {
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        min-height: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .06);
        background-color: #f38181;

        @include min-w($screen-lg) {
            padding: 20px 0;
        }

        .navbar-brand {
            @include min-w($screen-lg) {
                transform: translateY(0);
            }
        }
    }
}

.page-header-nav {
    font-weight: 500;
    line-height: 18px;
    padding-top: 18px;

    @include min-w($screen-md) {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
    }

    @include min-w($screen-lg) {
        padding-top: 0;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;

        @include min-w($screen-lg) {
            margin-left: 50px;
        }
    }

    a {
        color: #ffffff;
        padding: 4px 0;
        display: block;
        transition: color .3s, border-bottom-color .3s;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        border-bottom: 3px solid transparent;
        text-transform: uppercase;

        &:hover {
            border-bottom-color: #fce38a;
            color: #fce38a;
            text-decoration: none;
        }
    }

    li {
        display: inline-flex;
        justify-content: center;
        margin-bottom: 12px;

        @include min-w($screen-lg) {
            margin-bottom: 0;
            margin-left: 54px;
        }

        &:last-child {
            margin-right: 0;
        }

        &.current-menu-item {
            a {
                border-bottom-color: #fce38a;
                color: #fce38a;
            }
        }
    }
}

// stylelint-disable no-descending-specificity
.page-header-nav-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;

    @include min-w($screen-lg) {
        margin-left: 30px;
        margin-top: -4px;
    }

    li {
        display: inline-flex;
        justify-content: center;
    }

    a {
        color: #ffffff;
        margin: 22px;
        display: block;
        transition: color .3s;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        line-height: 1;

        &:hover {
            color: #fce38a;
            text-decoration: none;
        }

        @include min-w($screen-lg) {
            margin: 0 22px;
        }
    }
}
