.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 3px solid #000000;
    border-radius: 0;
    padding: 5px 32px;
    background-color: transparent;
    text-transform: uppercase;
    color: #000000;
    font-family: $fontFamilyM;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    height: 40px;

    &:hover {
        color: #000000;
        text-decoration: none;
    }
}

.btn-light {
    @extend .btn;
    border-color: #ffffff;
    color: #ffffff;

    &:hover {
        color: #ffffff;
    }
}
